html, body{
    margin: 0;
    height: 100%;
    background-color: #532680;
}

.container{
    height: 70%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-style: outset;
    background-color: #f7f7f7;
}

.cell{
    float: left;
}

/*
.cell:hover{
    background-color: blue;
    display: block;
}*/

.spacelol{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#coolbutton{
    width: 10%;
    height: 40%;
    background-color:#d70873;
    border-color: #cc3232;
    color:rgb(255, 255, 255);
    text-align:center;
    text-decoration:tomato;
    font-size: large;
    border-radius: 25px;
}

.numerino{
    width: 100%;
    height: 10%;
    color: white;
    text-align: center;
}