html, body{
    margin: 0;
    height: 100%;
}

.container{
    height: 80%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-style: groove;
}

.cell{
    float: left;
    width: 6.25%;
    height: 6.25%;
}

/*
.cell:hover{
    background-color: blue;
}*/

nav{
    text-align: center;
}

.spacelol{
    height: 20px;
}